/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  /* Header styles */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  /* Navigation styles */
  nav {
    background-color: #555;
    padding: 10px;
  }
  
  .nav-links {
    list-style: none;
    text-align: center;
  }
  
  .nav-links li {
    display: inline-block;
    margin: 0 10px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #fff;
  }
  
  /* Main content styles */
  #main {
    padding: 20px;
  }
  footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  
  .social-icons {
    list-style: none;
    padding: 0;
  }
  
  .social-icons li {
    display: inline-block;
    margin: 0 10px;
  }
  
  .social-icons a {
    color: #333;
    text-decoration: none;
    font-size: 24px;
  }
  
  .social-icons a:hover {
    color: #007bff; /* Change to your preferred hover color */
  }
  